@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "bootstrap";
@import "./assets/scss/utilities.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&family=Pacifico&display=swap");
@import "./assets/scss/variables";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: $primaryFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.logo {
  &.logo--large {
    font-size: 35px;
  }
  &.logo--medium {
    font-size: 20px;
  }
  &:before {
    content: "Plan.it";
    font-family: $logoFont;
  }
}

.page-content {
  padding: 30px;
  background-color: $gray;
  min-height: 100vh;
  padding-top: 100px;
}
