@import "./variables";
body {
  font-size: 13px;
}
.bg-pink {
  background-color: $pink;
  color: darken($pink, 60%);
}

// typography
h1,
.h1 {
  font-size: 50px;
  @media screen and (max-width: 992px) {
    font-size: 30px;
  }
}

.font-bold {
  font-weight: 900;
}

// form elements
.form-group {
  .form-control {
    border-radius: 2px;
    font-size: 13px;
    min-height: 45px;
  }
}

// buttons
.btn {
  border-radius: 2px;
  padding: 8px 25px;
  font-size: 13px;
}
